---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:2 %}
    <article class="post">
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="date">
        Written by Helen L. on {{ post.date | date: "%B %e, %Y" }}
      </div>
      
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}"><button>Read More</button></a>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">New</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">New</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">New</span>
  {% endif %}
</div>
