---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@font-face {
	font-family: Arcade Classic;
	src: url('BM toppo A12.otf') format('otf'),
	url('BM toppo A12.ttf') format('ttf'),
	url('BM toppo A12.svg') format('svg'),
	url('BM toppo A12.woff') format('woff');
}


// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $lighterGray;
  font: 18px/1.4 $gotham;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 90%;
}

div#main.container{
  width: 70%;
  float: left;
  padding: 0 0 0 30px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

}

div#column{
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  margin-bottom: 20px;
}

div.sidebar{
margin: 10px 10px 0 0;
background: $sidebarGray;
display: block;
width: 90%;
float: right;
padding: 0 30px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  text-align: center;
  color: $darkerGray;

  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  margin: 1em 0 15px;
  font-size: 40px;
  font-weight: 300;
  a {
    color: $darkerGray;
    text-decoration: none;
    &:hover, &:active {
    color: $darkerGray;
    }
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $green;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $green;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-size: 12px;
  font-style: italic;
  color: $darkGray;
  text-align: right;
	@include mobile {
	  text-align: center;
	}
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $darkGray;
}
::selection {
  color: $black;
  background: $darkGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background: $darkGray;
}

.masthead {
  padding: 15px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  position: absolute;
  top: 115px; right: 10px;
  max-width: 60px;
  max-height: 60px;

  @include mobile {
    position: static;
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.avatar-speech {
  content:url("http://hliutongco.github.io/images/beepboop.png");
  position: absolute;
  top: 75px; right: 60px;
  max-width: 50px;
  max-height: 50px;

  @include mobile {
    position: relative;
    top: 0; right: 35px;
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-info {
  float: none;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  font-family: Arcade Classic;
  float: center;
  margin: 0;
  text-align: center;
  text-transform: none;
  color: $lighterGray;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 1px;
  text-shadow: $darkerGray 3px 2px 0;
	a{
		color: $lighterGray;
		cursor: pointer;
		  &:hover, &:active {
    			color: $lighterGray;
		}
	}
}

.site-name:before {
  content: "{";
  position: relative;
  top: -10px; right: 10px;
  font-family: $helveticaNeue;
  font-weight: 600;
  font-size: 80px;
  color: $gray;
  text-shadow: $darkerGray 3px 2px 0;
}

.site-name:after {
  content: "}";
  position: relative;
  top: -10px; left: 5px;
  font-family: $helveticaNeue;
  font-weight: 600;
  font-size: 80px;
  color: $gray;
  text-shadow: $darkerGray 3px 2px 0;
}

.site-description {
  margin: -15px 0 0 0;
  text-align: center;
  color: $lightGray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  font-family: $helveticaNeue;
  font-weight: 350;
  font-size: 20px;
  margin: -145px 0 0 0;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $green;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $green;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $gray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
}

button {
    cursor: pointer;
    display: block;
    width: 150px;
    margin: 0 auto;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 10px;
    background: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: $green;
}

/*
* Related Posts from hyde: http://hyde.getpoole.com
*/

div.more-posts {
  padding: 20px 5px;
  margin: 20px 0;
  background: $sidebarGray;
}

li.more-posts {
  margin: 0 auto;
  width: 100%;
}

/*
 * Pagination from hyde: http://hyde.getpoole.com
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 15px;
  font-family: $gotham, Helvetica, Arial, sans-serif;
  color: $darkGray;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid $darkGray;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: $lightGray;
  cursor: pointer;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}

//
//sidebar
//

.author-pic {
  content:url("http://hliutongco.github.io/images/helen_avatar_bg.png");
  display: block;
  margin: 0 auto;
  height: 210px;
  width: 198px;
}

.sidebar-text {
  font-size: 15px;
  	@include mobile {
	padding-bottom: 20px;
	}
}

.sidebar-title {
  text-transform: lowercase;
  font-family: $helveticaNeue;
  color: $darkerGray;
  line-height: 1.7;
  padding: 0;

//  border-bottom: 2px solid currentColor;
//  display: inline-block;
//  line-height: 1.1;

  @include mobile {
    line-height: 1.4;
  }
}

.sidebar-title:before {
  content: "»";
  font-size: 150%;
  color: $darkGray;
  position: relative;
  top: 5px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
