
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$green: #619356;
$lightGray: #eee;
$lighterGray: #F1F1F1;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Verdana, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Verdana, sans-serif;
$gotham: Gotham, Helvetica, Verdana, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
