---
layout: default
---

<article class="post">
  
  <h1>{{ page.title }}</h1>
  
  
  <div class="date">
    Written by Helen L. on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="entry">
    {{ content }}
  </div>

</article>

<div class="more-posts">
  <h3>More Posts</h3>
    {% for post in site.posts limit:3 %}
      <p class="more-posts">
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h4>
      </p>
    {% endfor %}
</div>

<div id="footer">test</div>
